<div class="sidebar ">
  <h2>Contents</h2>

0. An Assyrian Magician's Manual - KAR 44
Suggested Program of Study for Babylonian Magick
1. The Basics of Babylonian Magick
Pronouncing Sumerian And Akkadian
Pronouncing Numerals in the Spells
Seeing
Kibratu - A Sumero-Babylonian Pentagram Ritual
Sacrifice
Seeking the Path of the Gods
2. Self-Initiation
A Ritual of Self-Initiation
The Gate Initiations of Babylonian Magick
3. Ikkibšu Nakari - Uraš Gate
Anzu and The Tablet of Destinies
The miš pi and pit pi Rituals
BM 49579
K 224
K 6818
TuL 29
BBR Ritualtafel
Related Tablets
Protective Figurines
The Alphabet of Creation
Hymns to Nabu, Nisaba, Ninurta and Ningirsu
Links to pages with information and myths about Ninurta
4. Izer Aršu - Zababa Gate
The Story of Etana
An unique take on the Etana story, inspired by the work of Kinnier Wilson
Nam.lugal - Kingship
Hymns to Zababa and Baba
5. Šuaši Re'i - Marduk Gate
Enuma eliš - The Epic of Creation
My own adaptation of Enuma Eliš
Akitu - the New Year Ritual
Incantations against the Evil Eye
The Ritual Maqlu
Hymns to Asalluhi, Marduk and Sarpanitu
6. Ištar Sakipat Tebišu - Ištar Gate
A brief essay about Inanna/Ištar
The Descent of Ištar
My adaptation of the Descent of Ištar
The List of MEs in the Myth of Inanna and Enki
The Oldest Spell in the World
7. Interlude - Ereškigal, the Gate of Hell
The Story of Nergal and Ereškigal
My adaptation of Nergal and Ereškigal
8. Enlil Munambiršu - Enlil Gate
The Story of Enlil and Ninlil
9. Libur Nadušu - King's Gate
The Story of Nanna-Su'en's Journey to Nippur
Temple Hymn of Nanna at Ur
10. Adad Napišti Ummani Usur - Adad Gate
Erra and Ishum
11. Šamaš Išid Ummani Kin - Šamaš Gate
The Epic of Gilgameš
Divination
Omens
Hepatoscopy, Liver Divination
Libanomancy, Divination through Incense Smoke
Prayer of the Divination Priest
12. Epilogue - Ea, the Gate of Wisdom
The Story of Enki and The World Order

Appendix 1 - The Babylonian Religious Calendar
Appendix 2 - Tables of Syncretisms/Correspondences 
Glossary 
Bibliography
  <h2>Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
