<div class="sidebar ">
  <h2>Contents</h2>
<table width="100%" cellpadding="0" cellspacing="1">
	<tr>
		<td style="border: none; padding: 0cm">
			<p style="margin-bottom: 0.5cm">0. <a href="http://www.babylon.tech/kar44.html">An
			Assyrian Magician's Manual - KAR 44</a></p>
			<ul>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/sug.html">Suggested
				Program of Study for Babylonian Magick</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">1. <a href="http://www.babylon.tech/basic.html">The
			Basics of Babylonian Magick</a></p>
			<ul>
				<li><p><a href="http://www.babylon.tech/pron.html">Pronouncing
				Sumerian And Akkadian</a></p>
				<li><p><a href="http://www.babylon.tech/pronum.html">Pronouncing
				Numerals in the Spells</a></p>
				<li><p><a href="http://www.babylon.tech/seeing.html">Seeing</a></p>
				<li><p><a href="http://www.babylon.tech/kibratu.html">Kibratu - A
				Sumero-Babylonian Pentagram Ritual</a></p>
				<li><p><a href="http://www.babylon.tech/sacrifice.html">Sacrifice</a></p>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/seeking.html">Seeking
				the Path of the Gods</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">2. <a href="http://www.babylon.tech/selfini.html">Self-Initiation</a></p>
			<ul>
				<li><p><a href="http://www.babylon.tech/selfinirite.html">A
				Ritual of Self-Initiation</a></p>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/gateini.html">The
				Gate Initiations of Babylonian Magick</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">3. <a href="http://www.babylon.tech/urashgate.html">Ikkibšu
			Nakari - Uraš Gate</a></p>
			<ul>
				<li><p><a href="http://www.babylon.tech/mythanzu.html">Anzu and
				The Tablet of Destinies</a></p>
				<li><p><a href="http://www.babylon.tech/mispi.html">The <i>miš
				pi</i> and <i>pit pi</i> Rituals</a></p>
				<ul>
					<li><p><a href="http://www.babylon.tech/bm4579.html"><i>BM 49579</i></a></p>
					<li><p><a href="http://www.babylon.tech/k224.html"><i>K 224</i></a></p>
					<li><p><a href="http://www.babylon.tech/k6818.html"><i>K 6818</i></a></p>
					<li><p><a href="http://www.babylon.tech/TuL29.html"><i>TuL 29</i></a></p>
					<li><p><a href="http://www.babylon.tech/ritualtaf31ff.html"><i>BBR
					Ritualtafel</i></a></p>
					<li><p><a href="http://www.babylon.tech/wtabs.html"><i>Related
					Tablets</i></a></p>
				</ul>
				<li><p><a href="http://www.babylon.tech/protect.html">Protective
				Figurines</a></p>
				<li><p><a href="http://www.babylon.tech/KAR4.html">The Alphabet
				of Creation</a></p>
				<li><p><a href="http://www.babylon.tech/urashymn.html">Hymns to
				Nabu, Nisaba, Ninurta and Ningirsu</a></p>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/urashlinks.html">Links
				to pages with information and myths about Ninurta</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">4. <a href="http://www.babylon.tech/zababagate.html">Izer
			Aršu - Zababa Gate</a></p>
			<ul>
				<li><p><a href="http://www.babylon.tech/mythetana.html">The Story
				of Etana</a></p>
				<li><p><a href="http://www.babylon.tech/ETANAVRS.html">An unique
				take on the Etana story, inspired by the work of Kinnier Wilson</a></p>
				<li><p><a href="http://www.babylon.tech/kinglist.html">Nam.lugal
				- Kingship</a><br>(list of Rulers from before the Flood to Saddam
				Hussein)</p>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/zababahymn.html">Hymns
				to Zababa and Baba</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">5. <a href="http://www.babylon.tech/mardukgate.html">Šuaši
			Re'i - Marduk Gate</a></p>
			<ul>
				<p><a href="http://www.babylon.tech/enuma.html"><i>Enuma eliš</i>
				- The Epic of Creation</a></p>
				<li><p><a href="http://www.babylon.tech/ENUMAELI.html">My own
				adaptation of Enuma Eliš</a></p>
				<li><p><a href="http://www.babylon.tech/akitu.html"><i>Akitu</i>
				- the New Year Ritual</a></p>
				<li><p><a href="http://www.babylon.tech/evileye.html">Incantations
				against the Evil Eye</a></p>
				<li><p><a href="http://www.babylon.tech/maqlu.html">The Ritual
				<i>Maqlu</i></a></p>
				<li><p><a href="http://www.babylon.tech/mardukhymn.html">Hymns to
				Asalluhi, Marduk and Sarpanitu</a></p>
			</ul>
		</td>
		<td style="border: none; padding: 0cm">
			<p style="margin-bottom: 0.5cm">6. <a href="http://www.babylon.tech/ishtargate.html">Ištar
			Sakipat Tebišu - Ištar Gate</a></p>
			<ul>
				<li><p><a href="http://www.babylon.tech/INANNA.html">A brief
				essay about Inanna/Ištar</a></p>
				<li><p><a href="http://www.babylon.tech/ishtardesc.html">The
				Descent of Ištar</a></p>
				<li><p><a href="http://www.babylon.tech/DESCENTI.html">My
				adaptation of the Descent of Ištar</a></p>
				<li><p><a href="http://www.babylon.tech/ME.html">The List of MEs
				in the Myth of Inanna and Enki</a></p>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/OLDSPELL.html">The
				Oldest Spell in the World</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">7. Interlude - Ereškigal, the
			Gate of Hell</p>
			<ul>
				<li><p><a href="http://www.babylon.tech/ereshner1.html">The Story
				of Nergal and Ereškigal</a></p>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/ERESKIGA.html">My
				adaptation of Nergal and Ereškigal</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">8. <a href="http://www.babylon.tech/enlilgate.html">Enlil
			Munambiršu - Enlil Gate</a></p>
			<ul>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/enlilninlil.html">The
				Story of Enlil and Ninlil</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">9. <a href="http://www.babylon.tech/kingsgate.html">Libur
			Nadušu - King's Gate</a></p>
			<ul>
				<li><p><a href="http://www.babylon.tech/nannanippur.html">The
				Story of Nanna-Su'en's Journey to Nippur</a></p>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/nanna.html">Temple
				Hymn of Nanna at Ur</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">10. <a href="http://www.babylon.tech/adadgate.html">Adad
			Napišti Ummani Usur - Adad Gate</a></p>
			<ul>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/erraishum.html">Erra
				and Ishum</a></p>
			</ul>
			<p style="margin-bottom: 0.5cm">11. <a href="http://www.babylon.tech/shamashgate.html">Šamaš
			Išid Ummani Kin - Šamaš Gate</a></p>
			<ul>
				<li><p><a href="http://www.angelfire.com/tx/gatestobabylon/temple1.html" target="content">The
				Epic of Gilgameš</a></p>
				<li><p>Divination</p>
				<ul>
					<li><p>Omens</p>
					<li><p><a href="http://www.babylon.tech/liver.html">Hepatoscopy,
					Liver Divination</a></p>
					<li><p><a href="http://www.babylon.tech/libano.html">Libanomancy,
					Divination through Incense Smoke</a></p>
				</ul>
				<li><p style="margin-bottom: 0.5cm">Prayer of the Divination
				Priest</p>
			</ul>
			<p style="margin-bottom: 0.5cm">12. Epilogue - Ea, the Gate of
			Wisdom</p>
			<ul>
				<li><p style="margin-bottom: 0.5cm"><a href="http://www.babylon.tech/enkiworld.html">The
				Story of Enki and The World Order</a></p>
			</ul>
			<p><br>Appendix 1 - <a href="http://www.babylon.tech/calendar2.html">The
			Babylonian Religious Calendar</a><br>Appendix 2 - <a href="http://www.babylon.tech/corr.html">Tables
			of Syncretisms/Correspondences</a> <br><a href="http://www.angelfire.com/tx/tintirbabylon/GLOSSARY.html" target="content">Glossary</a>
			<br><a href="http://www.angelfire.com/tx/tintirbabylon/BIBLIOGR.html" target="content">Bibliography</a></p>
		</td>
	</tr>
</table>
<a href="http://anpuluv.github.io/babylon/study.html">Suggested Program of Study for Babylonian Magick</a>
  <h2>Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
