<div class="sidebar ">
  <h2>Contents</h2>

0. <a href="http://www.babylon.tech/kar44.html">An Assyrian
Magician's Manual - KAR 44</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/sug.html">Suggested
	Program of Study for Babylonian Magick</a></p>
</ul>
<p>1. <a href="http://www.babylon.tech/basic.html">The Basics of
Babylonian Magick</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.angelfire.com/tx/tintirbabylon/pron.html" target="content">Pronouncing
	Sumerian And Akkadian</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.angelfire.com/tx/tintirbabylon/pronum.html" target="content">Pronouncing
	Numerals in the Spells</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.angelfire.com/tx/tintirbabylon/seeing.html" target="content">Seeing</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.angelfire.com/tx/tintirbabylon/kibratu.html" target="content">Kibratu
	- A Sumero-Babylonian Pentagram Ritual</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.angelfire.com/tx/tintirbabylon/sacrifice.html" target="content">Sacrifice</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.angelfire.com/tx/tintirbabylon/seeking.html">Seeking
	the Path of the Gods</a></p>
</ul>
<p>2. <a href="http://www.babylon.tech/selfini.html">Self-Initiation</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/">A
	Ritual of Self-Initiation</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/gateini.html">The
	Gate Initiations of Babylonian Magick</a></p>
</ul>
<p>3. <a href="http://www.babylon.tech/urashgate.html">Ikkibšu
Nakari - Uraš Gate</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/mythanzu.html">Anzu
	and The Tablet of Destinies</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/mispi.html">The
	miš pi and pit pi Rituals</a></p>
	<ul>
		<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/bm4579.html">BM
		49579</a></p>
		<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/k224.html">K
		224</a></p>
		<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/k6818.html">K
		6818</a></p>
		<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/TuL29.html">TuL
		29</a></p>
		<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/ritualtaf31ff.html">BBR
		Ritualtafel</a></p>
		<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.angelfire.com/tx/tintirbabylon/wtabs.html" target="content">Related
		Tablets</a></p>
	</ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/protect.html">Protective
	Figurines</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/KAR4.html">The
	Alphabet of Creation</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/urashymn.html">Hymns
	to Nabu, Nisaba, Ninurta and Ningirsu</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/urashlinks.html">Links
	to pages with information and myths about Ninurta</a></p>
</ul>
<p>4. <a href="http://www.babylon.tech/zababagate.html">Izer Aršu -
Zababa Gate</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.angelfire.com/tx/gatestobabylon/mythetana.html" target="content">The
	Story of Etana</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/ETANAVRS.html">An
	unique take on the Etana story, inspired by the work of Kinnier
	Wilson</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/kinglist.html">Nam.lugal
	- Kingship</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/zababahymn.html">Hymns
	to Zababa and Baba</a></p>
</ul>
<p>5. <a href="http://www.babylon.tech/mardukgate.html">Šuaši Re'i
- Marduk Gate</a></p>
<ul>
	<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/enuma.html">Enuma
	eliš - The Epic of Creation</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/ENUMAELI.html">My
	own adaptation of Enuma Eliš</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/akitu.html">Akitu
	- the New Year Ritual</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/evileye.html">Incantations
	against the Evil Eye</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/maqlu.html">The
	Ritual Maqlu</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/mardukhymn.html">Hymns
	to Asalluhi, Marduk and Sarpanitu</a></p>
</ul>
<p>6. <a href="http://www.babylon.tech/ishtargate.html">Ištar
Sakipat Tebišu - Ištar Gate</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/INANNA.html">A
	brief essay about Inanna/Ištar</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/ishtardesc.html">The
	Descent of Ištar</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/DESCENTI.html">My
	adaptation of the Descent of Ištar</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/ME.html">The
	List of MEs in the Myth of Inanna and Enki</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/OLDSPELL.html">The
	Oldest Spell in the World</a></p>
</ul>
<p>7. Interlude - Ereškigal, the Gate of Hell</p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/ereshner1.html">The
	Story of Nergal and Ereškigal</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/ERESKIGA.html">My
	adaptation of Nergal and Ereškigal</a></p>
</ul>
<p>8. <a href="http://www.babylon.tech/enlilgate.html">Enlil
Munambiršu - Enlil Gate</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/enlilninlil.html">The
	Story of Enlil and Ninlil</a></p>
</ul>
<p>9. <a href="http://www.babylon.tech/kingsgate.html">Libur Nadušu
- King's Gate</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/nannanippur.html">The
	Story of Nanna-Su'en's Journey to Nippur</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/nanna.html">Temple
	Hymn of Nanna at Ur</a></p>
</ul>
<p>10. <a href="http://www.babylon.tech/adadgate.html">Adad Napišti
Ummani Usur - Adad Gate</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/erraishum.html">Erra
	and Ishum</a></p>
</ul>
<p>11. <a href="http://www.babylon.tech/shamashgate.html">Šamaš
Išid Ummani Kin - Šamaš Gate</a></p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/temple1.html">The
	Epic of Gilgameš</a></p>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%">Divination</p>
	<ul>
		<li/>
<p style="margin-bottom: 0cm; line-height: 100%">Omens</p>
		<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/liver.html">Hepatoscopy,
		Liver Divination</a></p>
		<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/libano.html">Libanomancy,
		Divination through Incense Smoke</a></p>
	</ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%">Prayer of the
	Divination Priest</p>
</ul>
<p>12. Epilogue - Ea, the Gate of Wisdom</p>
<ul>
	<li/>
<p style="margin-bottom: 0cm; line-height: 100%"><a href="http://www.babylon.tech/enkiworld.html">The
	Story of Enki and The World Order</a></p>
</ul>
<p><br/>
Appendix 1 - <a href="http://www.babylon.tech/calendar2.html">The
Babylonian Religious Calendar</a><br/>
Appendix 2 - <a href="http://www.babylon.tech/corr.html">Tables
of Syncretisms/Correspondences</a> <br/>
<a href="http://www.babylon.tech/GLOSSARY.html">Glossary</a>
<br/>
<a href="http://www.babylon.tech/BIBLIOGR.html">Bibliography</a></p>
  <h2>Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
  </ul>
</div>
